.iws
workspace.xml
tasks.xml
.idea/
venv
*.pyc
__pycache__/
.DS_Store
.env
sc-2020-83e91efb0e25.json
creds.json
.Rproj.user
.ipynb_checkpoints/
service_account.json
credentials.json
client_secret_old.json
secret/
data/
models/
reports/
draft_prep/
docs/
